@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: unset !important;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

.display_none {
  display: none !important;
}

/* slider */
.slick-slider {
  overflow-x: hidden;
}
.slick-dots {
  bottom: 20px !important;
}

/* ant-select */
.ant-select-selector {
  height: 100% !important;
}
.ant-select-selection-item {
  display: flex;
  align-items: center;
}

/* react-responsive-caroure */
.carousel.carousel-slider .control-arrow {
  top: 50% !important;
  color: #fff;
  font-size: 26px;
  bottom: 50% !important;
  margin-top: 0;
  padding: 15px 8px !important;
  display: flex !important;
  align-items: center !important;
  background: gray !important;
}

.carousel .thumbs {
  text-align: center;
}

/* navbar */
.nav-tabs .nav-link {
  border: unset !important;
}
